<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon>Menu</mat-icon>
        </button>
        <span> APP LOGO </span>
        <div fxFlex fxLayout="row" flLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>Setting</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>Help outline</mat-icon>
                    </button>
                </li>
                <li>
                    Menu
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>